    version: '2'
    services:
      web:
        build: .
        ports:
         - "3069:3069"
        volumes:
         - .:/src
        depends_on:
         - mongo
        links:
          - mongo
      mongo:
         image: mongo
         volumes:
           - ./data/db:/data/db
         ports:
          - "27017:27017"
