#application {
    height: 100%;
    width: 100%;
}
#map-controls-desktop {
    background-color: rgba(27, 28, 29,.9);
    margin-top:0;
    margin-bottom:0;
    height:100%;
    padding:1em;
}
#map-controls-desktop > .ui.input {
    margin:1em;
}
#map-view{
    height: 100%;
    width: 100%;
    padding : 0;
    margin: 0;
}
#map-page{
    height: 100%;
    width: 100%;
    margin: 0;
}
